* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

ul {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    padding:0;
    flex-wrap:wrap;
}

li {
    background: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    height: 100px;
    list-style: none;
    border-radius: 6px;
    color: #fff;
    margin: 5px;
}
